@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  @apply w-screen h-screen text-gray-700;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@layer utilities {
  .before-dot::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #cacaca;
    border-radius: 100%;
    margin-right: 20px;
    position: relative;
    left: -5px;
    top: 4px;
  }
}
